<template name="reaktorCamera">
  <div class="camera-overlay">
    {{! used to make the background dark}}
  </div>

  <div class="camera-popup {{#if permissionDeniedError}}camera-popup-wide{{/if}}">
    {{#if error}} {{#if permissionDeniedError}} {{> permissionDenied}} {{else}} {{#if browserNotSupportedError}} {{> genericError message="Sorry, this browser is currently not supported for camera functionality."}} {{else}} {{> genericError message="There was an error accessing the camera."}} {{/if}} {{/if}} {{else}} {{#if photo}}
    <div class="center">
      <img src="{{photo}}" class="photo-preview" />
      <div class="buttons review">
        <button class="button btn btn-default new-photo"><i class="fa fa-camera"></i> Take New Photo</button>
        <button class="button btn btn-success use-photo"><i class="fa fa-check"></i> Use Photo</button>
      </div>
    </div>
    {{else}} {{> viewfinder}} {{/if}} {{/if}}
  </div>
</template>

<template name="reaktorViewfinder">
  <div class="viewfinder">
    <video id="video" class="{{#if waitingForPermission}}hidden{{/if}}">
    </video>

    <div class='buttons'>
      {{#if waitingForPermission}}
        <p>Waiting for camera permissions...</p>
        <button class="button btn btn-default cancel"><i class="fa fa-close"></i> Cancel</button>
      {{else}}
        <button class="button btn btn-default cancel"><i class="fa fa-close"></i> Cancel</button>
        <button class="button btn btn-primary shutter"><i class="fa fa-camera"></i> Take Photo</button>
      {{/if}}

    </div>
  </div>

  <canvas id="canvas" style="visibility: hidden"></canvas>
</template>

<template name="reaktorCameraGenericError">
  <div class="generic-error">
    <p>{{message}}</p>
    <button class="button btn btn-default cancel"><i class="fa fa-close"></i> Close Popup</button>
  </div>
</template>

<template name="reaktorPermissionDenied">
  <div class="permission-denied-error">
    <h2>Camera Permissions Denied</h2>

    <p>
      You have denied this app permission to use your camera. If you would like to allow permissions, follow the directions for your browser below.
    </p>

    <dl class="permissions-howto">
      <dt>Google Chrome</dt>
      <dd>Go to Settings > "Show advanced settings..." > "Content settings..." > Media heading > "Manage exceptions...", then find this website in the list and allow video capture.</dd>
      <dt>Mozilla Firefox</dt>
      <dd>Reload the page and try again.</dd>
      <dt>Opera</dt>
      <dd>Go to Preferences > Websites > Media heading > "Manage exceptions...", then find this website in the list and allow video capture.</dd>
    </dl>

    <button class="button btn btn-default cancel"><i class="fa fa-close"></i> Close Popup</button>
  </div>
</template>
