<template name="Navigation">
  <nav>
    <h5 class="sidebar-header">Navigation</h5>
    <ul class="nav nav-pills nav-stacked" id="nav-accordion">
        
        <li class="{{currentRouteClass 'Dashboard'}}" data-state="dashboard">
            <a href="{{pathFor 'Dashboard'}}" title="Dashboard">
                <i class="fa  fa-fw fa-tachometer"></i> Dashboard
            </a>
        </li>

        <li class="nav-dropdown {{stateClass 'UI'}} {{currentRouteClass 'UI'}}" data-state="UI">
            <a href="#" title="UI Elements">
                <i class="fa  fa-fw fa-cogs"></i> UI Elements
            </a>
            <ul id="ui-elements-nav-sub" class="nav-sub {{navSubStateClass 'UI'}}">
                <li class="{{currentRouteClass 'UI.Buttons'}}" data-state="UI.buttons">
                    <a href="{{pathFor 'UI.Buttons'}}" title="Buttons">
                         Buttons
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.SlidersAndProgress'}}" data-state="UI.sliders.progress">
                    <a href="{{pathFor 'UI.SlidersAndProgress'}}" title="Sliders &amp; Progress">
                         Sliders &amp; Progress
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.ModalsAndPopups'}}" data-state="UI.modals.popups">
                    <a href="{{pathFor 'UI.ModalsAndPopups'}}" title="Modals &amp; Popups">
                         Modals &amp; Popups
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.TabsAndAccordions'}}" data-state="UI.tabs.accordions">
                    <a href="{{pathFor 'UI.TabsAndAccordions'}}" title="Tabs &amp; Accordions">
                         Tabs &amp; Accordions
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.AlertsAndNotifications'}}" data-state="UI.alerts.notifications">
                    <a href="{{pathFor 'UI.AlertsAndNotifications'}}" title="Alerts &amp; Notifications">
                         Alerts &amp; Notifications
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.NestableLists'}}" data-state="UI.nestable-lists">
                    <a href="{{pathFor 'UI.NestableLists'}}" title=" Nestable Lists">
                         Nestable Lists
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.Panels'}}" data-state="UI.panels">
                    <a href="{{pathFor 'UI.Panels'}}" title="Panels">
                         Panels
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.Icons'}}" data-state="UI.icons">
                    <a href="{{pathFor 'UI.Icons'}}" title="Icons">
                         Icons
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.Typography'}}" data-state="UI.typography">
                    <a href="{{pathFor 'UI.Typography'}}" title="Typography">
                         Typography
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown {{stateClass 'Forms'}} {{currentRouteClass 'Forms'}}" data-state="Forms" >
            <a href="#" title="Forms">
                <i class="fa  fa-fw fa-edit"></i> Forms
            </a>
            <ul id="forms-nav-sub" class="nav-sub {{navSubStateClass 'Forms'}}">
                <li class="{{currentRouteClass 'Forms.Components'}}" data-state="Forms.components">
                    <a href="{{pathFor 'Forms.Components'}}" title="Components">
                        Components
                    </a>
                </li>
                <li class="{{currentRouteClass 'Forms.Validation'}}" data-state="Forms.validation">
                    <a href="{{pathFor 'Forms.Validation'}}" title="Validation">
                        Validation
                    </a>
                </li>
                <li class="{{currentRouteClass 'Forms.Mask'}}" data-state="Forms.mask">
                    <a href="{{pathFor 'Forms.Mask'}}" title="Mask">
                        Mask
                    </a>
                </li>
                <li class="{{currentRouteClass 'Forms.Wizard'}}" data-state="Forms.wizard">
                    <a href="{{pathFor 'Forms.Wizard'}}" title="Wizard">
                        Wizard
                    </a>
                </li>
                <li class="{{currentRouteClass 'Forms.FileUpload'}}" data-state="Forms.fileupload">
                    <a href="{{pathFor 'Forms.FileUpload'}}" title="Multiple File Upload">
                        Multiple File Upload
                    </a>
                </li>
                <li class="{{currentRouteClass 'Forms.WYSIWYG'}}" data-state="Forms.wysiwyg">
                    <a href="{{pathFor 'Forms.WYSIWYG'}}" title="WYSIWYG Editor">
                        WYSIWYG Editor
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown {{stateClass 'Tables'}} {{currentRouteClass 'Tables'}}" data-state="Tables" >
            <a href="#" title="Tables">
                <i class="fa  fa-fw fa-th-list"></i> Tables
            </a>
            <ul class="nav-sub {{navSubStateClass 'Tables'}}">
                <li class="{{currentRouteClass 'Tables.BasicTables'}}" data-state="Tables.basic">
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Basic Tables">
                         Basic Tables
                    </a>
                </li>
                <li class="{{currentRouteClass 'Tables.DataTables'}}" data-state="Tables.data">
                    <a href="{{pathFor 'Tables.DataTables'}}" title="Data Tables">
                         Data Tables
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown {{stateClass 'Charts'}} {{currentRouteClass 'Charts'}}" data-state="Charts" >
            <a href="#" title="Charts">
                <i class="fa  fa-fw fa-bar-chart-o"></i> Charts
            </a>
            <ul class="nav-sub {{navSubStateClass 'Charts'}}">
                <li class="{{currentRouteClass 'Charts.ChartJs'}}" data-state="Charts.ChartJs">
                    <a href="{{pathFor 'Charts.ChartJS'}}" title="Chartjs">
                        Chartjs
                    </a>
                </li>
                <li class="{{currentRouteClass 'Charts.C3'}}" data-state="Charts.C3">
                    <a href="{{pathFor 'Charts.C3'}}" title="C3 Charts">
                         C3 Charts
                    </a>
                </li>
                <li class="{{currentRouteClass 'Charts.Morris'}}" data-state="Charts.Morris">
                    <a href="{{pathFor 'Charts.Morris'}}" title="Morris.js Charts">
                         Morris.js Charts
                    </a>
                </li>
                <li class="{{currentRouteClass 'Charts.Sparkline'}}" data-state="Charts.Sparkline">
                    <a href="{{pathFor 'Charts.Sparkline'}}" title="Sparkline Charts">
                         Sparkline Charts
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown {{stateClass 'Maps'}} {{currentRouteClass 'Maps'}}" data-state="Maps" >
            <a href="#" title="Maps">
                <i class="fa  fa-fw fa-map-marker"></i> Maps
            </a>
            <ul class="nav-sub {{navSubStateClass 'maps'}}">
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Google Maps">
                         Google Maps
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Vector Maps">
                         Vector Maps
                    </a>
                </li>
            </ul>
        </li>
        <li class='disabled'>
            <a href="#" title="Frontend">
                <i class="fa  fa-fw fa-desktop"></i> Front-end Theme
                <span class="pull-right badge badge-danger">new</span>
            </a>
        </li>
        <li class="nav-dropdown {{stateClass 'Pages'}} {{currentRouteClass 'Pages'}}" data-state="Pages" >
            <a href="#" title="Pages">
                <i class="fa  fa-fw fa-file-text"></i> Pages
            </a>
            <ul class="nav-sub {{navSubStateClass 'pages'}}">
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Blank Page">
                         Blank Page
                    </a>
                </li>

                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Profile">
                         Profile
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Sign In">
                         Sign In
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Sign Up">
                         Sign Up
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="Locked Screen">
                         Locked Screen
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="404 Page">
                         404 Page
                    </a>
                </li>
                <li>
                    <a href="{{pathFor 'Tables.BasicTables'}}" title="500 Page">
                         500 Page
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown {{stateClass 'Levels'}} {{currentRouteClass 'Levels'}}" data-state="Levels" >
            <a href="#" title="Menu Levels">
                <i class="fa  fa-fw fa-folder-open"></i> Menu Levels
            </a>
            <ul class="nav-sub {{navSubStateClass 'levels'}}">
                <li>
                    <a href="javascript:;" title="Level 2.1">
                        <i class="fa fa-fw fa-file"></i> Level 1.1
                    </a>
                </li>
                <li>
                    <a href="javascript:;" title="Level 2.2">
                        <i class="fa fa-fw fa-file"></i> Level 1.2
                    </a>
                </li>
                <li class="nav-dropdown">
                    <a href="#" title="Level 2.3">
                        <i class="fa fa-fw fa-folder-open"></i> Level 1.3
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a href="javascript:;" title="Level 3.1">
                                <i class="fa fa-fw fa-file"></i> Level 2.1
                            </a>
                        </li>
                        <li class="nav-dropdown">
                            <a href="#" title="Level 3.2">
                                <i class="fa fa-fw fa-folder-open"></i> Level 2.2
                            </a>
                            <ul class="nav-sub">
                                <li>
                                    <a href="javascript:;" title="Level 4.1">
                                        <i class="fa fa-fw fa-file"></i> Level 3.1
                                    </a>
                                </li>
                                <li class="nav-dropdown">
                                    <a href="#" title="Level 4.2">
                                        <i class="fa fa-fw fa-folder-open"></i> Level 3.2
                                    </a>
                                    <ul class="nav-sub">
                                        <li class="nav-dropdown">
                                            <a href="#" title="Level 5.1">
                                                <i class="fa fa-fw fa-folder-open"></i> Level 4.1
                                            </a>
                                            <ul class="nav-sub">
                                                <li>
                                                    <a href="javascript:;" title="Level 6.1">
                                                        <i class="fa fa-fw fa-file"></i> Level 5.1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" title="Level 6.2">
                                                        <i class="fa fa-fw fa-file"></i> Level 5.2
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;" title="Level 5.2">
                                                <i class="fa fa-fw fa-file"></i> Level 4.2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" title="Level 5.3">
                                                <i class="fa fa-fw fa-file"></i> Level 4.3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <li class="{{currentRouteClass 'CSSAnimations'}}">
            <a href="{{pathFor 'CSSAnimations'}}" title="CSS Animations">
                <i class="fa  fa-fw fa-magic"></i> CSS Animations
            </a>
        </li>
    </ul>
  </nav>
</template>