<template name="AppLayout">
    {{> Loader}}
    {{> yield "modals"}}
    {{#if ios}}
        <div id="ios-status-bar"></div>
    {{/if}}

    {{#if currentUser}}

        {{> LoggedInLayout}}

    {{else}}
        {{#unless loggingIn}}
            {{> Accounts}}
        {{else}}
            {{> PageLoader}}
        {{/unless}}
    {{/if}}
    {{> sAlert}}
    {{> meteorStatus}}
</template>

<template name="LoggedInLayout">
    {{#unless profileComplete}}
        {{> CompleteProfileOverlay}}
    {{/unless}}

    <nav id="menu" class="{{theme}} {{ios}}">
        {{> LeftSidebar}}
    </nav>

    <div id="panel" class="{{theme}} {{ios}}">
        {{> Header}}
        {{#momentum plugin='iron-router' options=transition}}
            {{> yield}}
        {{/momentum}}
    </div>
</template>
