<template name="CompleteProfileOverlay">
  <div class="overlay full-centered">
    {{#with currentUser}}
      {{> RequiredProfilePanel}}
    {{/with}}
  </div>
</template>

<template name="RequiredProfilePanel">
    <section id="required-profile" class="col-md-6 col-sm-7 panel panel-primary animated flipInY">
        <div class="panel-heading">
          <div class="panel-title">Complete your Profile</div>
        </div>
        <div class="panel-body profile-wrapper">
          <p>
            Please take a photo that clearly shows your face, and provide your first and last name. When you are finished you may hit continue.
          </p>
          {{#if profile.picture}}
            <img class="js-new-photo" src="{{picture}}" alt="Your Photo">
          {{else}}
            <button class="button btn btn-default btn-block js-new-photo"><i class="fa fa-camera"></i> Take New Photo</button>
          {{/if}}
          <div class="col-xs-12">
              <div class="profile-info center-text padding-top-10">
                {{> editableText collection="users" field="profile.firstName" userCanEdit=userCanEdit substitute='First'}}
                {{> editableText collection="users" field="profile.lastName" userCanEdit=userCanEdit substitute='Last'}}
              </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn btn-primary btn-block js-continue">Continue</div>
        </div>
    </section>
</template>
