<template name="AccountSettings">
  <h5 class="sidebar-header">Account Settings</h5>
  <div class="setting-list">
    <div class="row">
        <div class="col-xs-8">
            <label for="checkOne" class="control-label">Share your status</label>
        </div>
        <div class="col-xs-4">
          <div class="onoffswitch pull-right">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="share-status-switch" {{shareStatus}}>
            <label class="onoffswitch-label" for="share-status-switch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <label for="checkTwo" class="control-label">Push Notifications</label>
        </div>
        <div class="col-xs-4">
          <div class="onoffswitch pull-right">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="push-notifications-switch" {{pushNotifications}}>
            <label class="onoffswitch-label" for="push-notifications-switch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
    </div>
  </div>
</template>