<template name="Layout">
    <!-- Page Wrapper-->
    <section id="main-wrapper" class="{{theme}}">
        <!-- Page wrapper -->
        {{> Header}}
        
        <!-- Left Sidebar Navigation -->
        {{> LeftSidebar}}
        
        <!-- Content wrapper -->
        <section class="main-content-wrapper">
            <!-- Main content view  -->
            {{> yield}}
            
            {{> Footer}}
        </section>
        <!-- /Content wraper-->

    </section>
    <!-- /Page wrapper-->

    <!-- Right Sidebar Navigation -->
    {{> RightSidebar}}

    <!--Config demo-->
    {{> ConfigDemo}}

    {{> yield "modals"}}
</template>