<template name="Navigation">
  <nav>
    <h5 class="sidebar-header">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">

        <li class="{{currentRouteClass 'ThemePreview'}}" data-state="ThemePreview">
            <a href="{{pathFor 'ThemePreview'}}" title="ThemePreview">
                <i class="fa  fa-fw fa-tachometer"></i> Theme Preview
            </a>
        </li>

        <li class="{{currentRouteClass 'BlankPage'}}" data-state="BlankPage">
            <a href="{{pathFor 'BlankPage'}}" title="Blank Page">
                <i class="fa  fa-fw fa-tachometer"></i> Blank Page
            </a>
        </li>

        <li class="nav-dropdown {{stateClass 'UI'}} {{currentRouteClass 'UI'}}" data-state="UI">
            <a href="#" title="UI Elements">
                <i class="fa  fa-fw fa-cogs"></i> UI Elements
            </a>
            <ul id="ui-elements-nav-sub" class="nav-sub {{navSubStateClass 'UI'}}">
                <li class="{{currentRouteClass 'UI.Buttons'}}" data-state="UI.buttons">
                    <a href="{{pathFor 'UI.Buttons'}}" title="Buttons">
                         Buttons
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.SlidersAndProgress'}}" data-state="UI.sliders.progress">
                    <a href="{{pathFor 'UI.SlidersAndProgress'}}" title="Sliders &amp; Progress">
                         Sliders &amp; Progress
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.ModalsAndPopups'}}" data-state="UI.modals.popups">
                    <a href="{{pathFor 'UI.ModalsAndPopups'}}" title="Modals &amp; Popups">
                         Modals &amp; Popups
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.TabsAndAccordions'}}" data-state="UI.tabs.accordions">
                    <a href="{{pathFor 'UI.TabsAndAccordions'}}" title="Tabs &amp; Accordions">
                         Tabs &amp; Accordions
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.AlertsAndNotifications'}}" data-state="UI.alerts.notifications">
                    <a href="{{pathFor 'UI.AlertsAndNotifications'}}" title="Alerts &amp; Notifications">
                         Alerts &amp; Notifications
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.Panels'}}" data-state="UI.panels">
                    <a href="{{pathFor 'UI.Panels'}}" title="Panels">
                         Panels
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.Icons'}}" data-state="UI.icons">
                    <a href="{{pathFor 'UI.Icons'}}" title="Icons">
                         Icons
                    </a>
                </li>

                <li class="{{currentRouteClass 'UI.Typography'}}" data-state="UI.typography">
                    <a href="{{pathFor 'UI.Typography'}}" title="Typography">
                         Typography
                    </a>
                </li>
            </ul>
        </li>

        <!-- <li class='disabled'>
            <a href="#" title="Frontend">
                <i class="fa  fa-fw fa-desktop"></i> Disabled
                <span class="pull-right badge badge-danger">Disabled</span>
            </a>
        </li> -->

    </ul>
  </nav>
</template>
